//-
	Accepting following variables:
	[string]    env    [development|production]    build enviroment
	[string]    buildHash                          unique build hash. Only when env === 'production'
	[string]    dllFilename                        path to dll file. Only when env === 'production'
	[object]    PROJECT_CONSTANTS                  see <ROOT>/project.constants.js

doctype
html.no-js
	head
		include ./includes/head.jade
	body
		<!--[if lt IE 10]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		#main

		include ./includes/scripts.jade
